@font-face {
    font-family: JetBrainsMono;
    src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: JetBrainsMono;
    src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body {
    position: relative;
    font-family: JetBrainsMono, Arial, Helvetica, sans-serif;
    background: var(--primary);
    /*color: #fff; */
}

ul {
    list-style: none;
}

:root {
    --primary: #282828;
    --secondary: #00BaFF;
    --third: #98B1C4;
}

.text-white {
    color: #fafafa;
}

.text-secondary {
    color: var(--secondary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
}

header h1 {
    font-size: 3rem;
}

.navbar {
    margin-top: 32px;
    margin-bottom: 16px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu-item {
    padding: 0px 16px;
}

.menu-item a {
    text-decoration: none;
    color: var(--third);
    font-size: 1.2rem;
}

.menu-item a:hover {
    transition: color 300ms ease-in-out;
    color: var(--secondary);
}

.profile {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    /*border: 2px solid var(--secondary);*/
    border-radius: 8px;
}

.svg-top-wave svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.profile-photo {
    width: 160px;
    height: 160px;
    border: 3px ridge #fff var(--secondary);
    box-shadow: 2px 2px, none;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: 4px 5px 15px -1px var(--secondary); 
    box-shadow: 4px 5px 15px -1px var(--secondary);
}

.profile-photo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.illus {
    width: 400px;
}

.profile-description {
    width: 70%;
    align-self: center;
}

.profile-description h3 {
    margin-bottom: 16px;
}

.social-media {
    padding: 8px 0px;
    text-align: center;
}

.social-media img {
    width: 32px;
    height: 32px;
}

.social-media span {
    color: var(--secondary);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
}

.projects h2 {
    padding: 32px 0px;
}

.projects-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.fun-box {
    width: 50px;
    height: 50px;
    background: var(--third);
    animation-name: fun-box;
    animation-play-state: running;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.project {
    width: 450px;
    height: 300px;
    background-color: #ddd;
    margin-bottom: 16px;
    background: var(--third);
    border-radius: 8px;
    object-fit: cover;
    position: relative;
}

.project:hover .project-description {
    opacity: 1;
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    border: 4px solid var(--secondary);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.company, .short-info {
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
}

.company {
    width: 200px;
    margin: 0 auto;
    padding: 2px 0px;
    margin-bottom: 16px;
    background: var(--third);
}

.short-info {
    margin-top: 4px;
    margin-bottom: 16px;
}

.see-more {
    margin-bottom: 32px;
    text-align: center;
}

.see-more button {
    color: #fff;
    font-size: 1.1rem;
    background: var(--secondary);
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 4px;
}

.project-techs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.project-techs .tech {
    color: var(--secondary);
    margin: 2px 4px;
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 0.9rem;
    border: 2px solid var(--secondary);
}   


.project img {
    width: 100%;
    height: 100%;
}

.contact {
    margin: 32px 0px;
}

@media screen and (max-width: 428px) {
    .profile {
        flex-direction: column;
    }
    .illus {
        width: 100%;
    }
    .profile-description {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .projects-list {
        justify-content: center;
    }
}
